@using PagedList
@using PagedList.Mvc
@using Microsoft.AspNet.Identity
@model IPagedList<PortalKorepetycyjny.Models.StudentAdvertisment>
<div id="productList">

    <div class="pagedList" data-advertisement-target="#advertisementList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
       PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div class="container">
        <div class="iconcontainer">

            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="iconbox">
                            <div class="iconbox-icon">
                                <span class="glyphicon glyphicon-tasks"></span>
                            </div>
                            <div class="featureinfo">
                                <h4 class="text-center">@Html.DisplayFor(modelItem => item.Title)</h4>
                                <h5 class="text-center">@Html.DisplayFor(modelItem => item.AdvertismentDate)</h5>
                                <p>
                                    @Html.DisplayFor(modelItem => item.Descryption)
                                </p>

                                <a class="btn btn-default btn-sm" href="@Url.Action("Edit", "StudentAdvertisments", new { id = item.Id })" role="button">Edit</a>
                                <a class="btn btn-default btn-sm" href="@Url.Action("Delete", "StudentAdvertisment", new { id = item.Id })" role="button">Delete</a>
                               
                                <a class="btn btn-default btn-sm" href="@Url.Action("Details", "StudentAdvertisments", new { id = item.Id })" role="button">Details</a>
                            </div>
                        </div>
                    </div>



                }

            </div>
        </div>
    </div>
</div>
