@using PagedList
@using PagedList.Mvc
@using Microsoft.AspNet.Identity
@model IPagedList<PortalKorepetycyjny.Models.Advertisment>
<div id="productList">

    <div class="pagedList" data-advertisement-target="#advertisementList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
       PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    <p>
        @Html.ActionLink("Create New", "Create", "Advertisments")
    </p>

    <table class="table">
        <tr>
            <th>
                Imie i nazwisko
            </th>
            <th>
                Tytuł
            </th>
            <th>
                Opis
            </th>
        </tr>



        @foreach (var item in Model)
        {
            string text = item.Coach.Name + " " + item.Coach.Surname;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (User.Identity.GetUserId() == item.CoachId)
                    {
                        @Html.ActionLink("Edit", "Edit", "Advertisments", new { id = item.Id }, null)
                        @Html.ActionLink("Delete", "Delete", "Advertisments", new { id = item.Id }, null)
                    }

                    @Html.ActionLink("Details", "Details", "Advertisments", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>
