@model PortalKorepetycyjny.Models.Advertisment
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Details";
}
@{
    string text = Model.Coach.Name + " " + Model.Coach.Surname;
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>@Html.DisplayFor(model => text)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Data Publikacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.GetUserId() == Model.CoachId)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    |
    @Html.ActionLink("Back to List", "Index", "Home", new { area = "" }, null)
</p>
